<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil de usuario</h1>
    <p>Nombre: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <p>Edad: {{ user.age }}</p>
    <a href="/logout">Cerrar sesión</a>
</body>
</html>
