<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/api/sessions/register" method="post">
        <input type="text" name="first_name" placeholder="Nombre" required><br>
        <input type="text" name="last_name" placeholder="Apellido" required><br>
        <input type="email" name="email" placeholder="Correo electrónico" required><br>
        <input type="number" name="age" placeholder="Edad" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>
